.navbar-brand img{
    width: 100px; 
}

#main-title{
    text-align: center;
    margin: 15px 0px 0px 30px;
}

/* css home */

#contacts-table {
    max-width: 800px;
    margin: 0 auto;
}

#col-id{
    font-weight: bold;
}

.actions {
    text-align: right;
    width: 150px;
}

.actions i{
    font-size: 18px;
    margin-right: 5px;
}

.edit-icon{
    color: #007BFF;
}

.delete-icon{
    color: #BD2130;
}

.delete-form{
    display: inline-block;
}

.delete-btn{
    background-color: transparent;
    border: none;
    padding: 0;
}

.check-icon{
    color: #1E7E34;
}

#empty-list-text{
    text-align: center;
}

#msg{
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

/* SHOW CONTATO INDIVIDUAL */
#view-contact-container{
    max-width: 500px;
    margin: 0 auto;
}

.bold{
    font-weight: bold;
}

#back-link-container{
    display: block;
    width: 500px;
    margin: 30px auto 0;
}

#back-link{
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
}

/* create usuario */
.btn{
    margin-top: 10px;
}

#create-form,
#edit-form{
    max-width: 500px;
    margin: 0 auto;
}

/* mobile */
@media(max-widht: 480px){
    #home-link{
        display: none;
    }
}


